body{
  font-family: 'Poppins', sans-serif;
}
.container-fluid{
  padding: 0px !important;
}

.barraLA{
  padding: 0px 1rem 0px 0px;
  height: 100vh;

}

.menu{
  margin: 20px 20px;
  background-color: rgba(139, 247, 255, 0.356);
}


@media(min-width:1000px){
  .menu{
    display: none;
  }
  
}